<div class="login-container">
  <p-card header="Login">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="text-div">
        <label>Email</label>
        <input
          type="text"
          pInputText
          formControlName="email"
          (ngModelChange)="onChange()"
        />
        <div
          *ngIf="
            loginForm?.get('email')?.invalid && loginForm?.get('email')?.touched
          "
          class="invalid"
        >
          Please enter valid email
        </div>
      </div>
      <div class="text-div">
        <label>password</label>
        <p-password
          formControlName="password"
          [toggleMask]="true"
          [feedback]="false"
          (ngModelChange)="onChange()"
        ></p-password>
        <div
          *ngIf="
            loginForm?.get('password')?.invalid &&
            loginForm?.get('password')?.dirty
          "
          class="invalid"
        >
          Please enter valid password
        </div>
      </div>
      <div class="bttm-container">
        <div class="login-btn-container">
          <button
            pButton
            pRipple
            label="Login"
            type="submit"
            [disabled]="!this.formValid"
          ></button>
        </div>
        <!-- <button pButton pRipple label="Signup" type="submit"></button> -->
        <p>Don't have an account yet? <a routerLink="/sign-up">Sign up!</a></p>
      </div>
    </form>
  </p-card>
</div>
